@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300&family=Quicksand:wght@500&display=swap');

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Lexend', sans-serif;
    /* height: 100vh; */
    width: 100%;
}
